
body {
    background-image: url("pexels-stephan-seeber-1054218.jpg");
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    text-align: center;
}

.LoginForm {
    align-items: center;
    text-align: center;
    background-color: darkblue;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;
    color: white;
}